<h1 class="text-center"><%= @cocktail.name %></h1>
<h2>Ingredients</h2>
<div class="container">
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(135deg, rgba(255,209,148,0.6) 0%, rgba(112,225,245,0.2) 50%), url(<%= "http://res.cloudinary.com/ind-pendant/image/upload/#{dose.ingredient.photo.path}" %>); background-size: cover;">
        <%#= link_to "#", "#", class: "card-link" %>
        </div>
      <p>Description : <%= dose.description %></p>
      <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
    <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModalDose">
    Add a Dose
    </button>
</div>

<%= render "/shared/modal_dose" %>
<%= render "/shared/modal_ingredient" %>

