<h1 class="text-center"><%= @cocktail.name %></h1>
<h2>Ingredients</h2>
<div class="container">
  <div class="row">
    <% @cocktail.doses.each do |dose| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(255,102,102,0.4) 0%, rgba(255,204,102, 0.4) 50%), url(<%= "http://res.cloudinary.com/ind-pendant/image/upload/#{dose.ingredient.photo.path}" %>); background-size: cover;">
        <%#= link_to "#", "#", class: "card-link" %>
        </div>
      <p>Description : <%= dose.description %></p>
      <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: :delete, data: {confirm: "Are you sure?" } %>
      </div>
    <% end %>
</div>

<h2>Add a dose</h2>

<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient %>
    <button type="button" class="navbar-wagon-item navbar-wagon-button btn" data-toggle="modal" data-target="#myModalIngredient">
    Add an ingredient
    </button>
  <%= f.input :description, placeholder: '6cl' %>
    <% if @dose.errors.any? %>
    <% @dose.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <%= f.button :submit %>
<% end %>

</div>

<%= render "/shared/modal_ingredient" %>
